:root{
    --accent-color:#2196F3;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02;
    background-color: #FFFFFF;
    color: #212121;
}
.title{
    color: var(--accent-color);
}
.nav-item{
    color: var(--accent-color);
}
.nav-item1{
    color:#212121;
}
.nav-item2{
    color:#212121;
}
.address-item1{
    color:#212121;
}

.hero{
    background-color: #2F303A;
}
.address-item{
    color: var(--accent-color);
}
.section-item{
    background-color: darkslategray;
}
.button-item:hover,
.button-item:focus{
    background-color: var(--accent-color);
}
.section-item2{
    background-color: rgb(183, 180, 180);
}
.footer-item{
    background-color:#2F303A;
}
.logofooter-item{
    background-color:#2196F3;
}
.footeraddress-item1{
    color:#FFFFFF;
}
.footeraddress-item2{
    color:#FFFFFF;
}
.footeraddress-item3{
    color: rgb(172, 172, 172);
}
.footeraddress-item4{
    color: rgb(172, 172, 172);
}




.logo-item1{
    background-color: var(--accent-color);
}

.nav-item5{
    color: black;
}
.nav-item6{
    background-color: var(--accent-color);
}
.nav-item7{
    color: black;
}

.headeraddress-item1{
    background-color: var(--accent-color)
}
.headeraddress-item2{
    color:#757575;
}
.buttonmain-item1{
    background-color: var(--accent-color)
}


.buttonmain-item:hover,
.buttonmain-item:focus{
    background-color: var(--accent-color);
}
.footerbackground-item{
    background-color:#2F303A;
}

.footerlogo-item1{
    background-color: var(--accent-color)
}


.footeraddrses-item5{
    color: #FFFFFF;
}
.footeraddrses-item6{
    color: #FFFFFF;
}
.footeraddress-item7{
    color:#FFFFFF99;
}

.footeraddress-item8{
    color:#FFFFFF99;
}






/*.buttonmain-item2{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item3{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item4{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item5{
    background-color: rgb(172, 172, 172);
}*/





.title{
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    color: var(--accent-color);
}

.nav-list{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.address-list{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.footer-item{
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--accent-color);
}


.logo-item1{
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    color: var(--accent-color);
}