h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
li,
form,
label,
input,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02;
  background-color: #ffffff;
  color: #212121;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  outline: solid red;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.address-list{
    display: flex;
    gap: 15px;
    align-items: center;
}
.title {
  color: var(--accent-color);
}
.nav-item {
  color: var(--accent-color);
}
.nav-item1 {
  color: #212121;
}
.nav-item2 {
  color: #212121;
}
.address-item1 {
  color: #212121;
}

.hero {
  background-color: #2f303a;
}
.address-item {
  color: var(--accent-color);
}
.section-item {
  background-color: darkslategray;
}
.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
}
.section-item2 {
  background-color: rgb(183, 180, 180);
}
.footer-item {
  background-color: #2f303a;
}
.logofooter-item {
  background-color: #2196f3;
}
.footeraddress-item1 {
  color: #ffffff;
}
.footeraddress-item2 {
  color: #ffffff;
}
.footeraddress-item3 {
  color: rgb(172, 172, 172);
}
.footeraddress-item4 {
  color: rgb(172, 172, 172);
}

.logo-item1 {
  background-color: var(--accent-color);
}

.nav-item5 {
  color: black;
}
.nav-item6 {
  background-color: var(--accent-color);
}
.nav-item7 {
  color: black;
}

.headeraddress-item1 {
  background-color: var(--accent-color);
}
.headeraddress-item2 {
  color: #757575;
}
.buttonmain-item1 {
  background-color: var(--accent-color);
}

.buttonmain-item:hover,
.buttonmain-item:focus {
  background-color: var(--accent-color);
}
.footerbackground-item {
  background-color: #2f303a;
}

.footerlogo-item1 {
  background-color: var(--accent-color);
}

.footeraddrses-item5 {
  color: #ffffff;
}
.footeraddrses-item6 {
  color: #ffffff;
}
.footeraddress-item7 {
  color: #ffffff99;
}

.footeraddress-item8 {
  color: #ffffff99;
}

/*.buttonmain-item2{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item3{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item4{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item5{
    background-color: rgb(172, 172, 172);
}*/

.title {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--accent-color);
  letter-spacing: 0.03;
}

.nav-list {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02;
  
}

.address-list {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;

}

.footer-item {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03;
}

.logo-item1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03;
}

.website-item {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02;
  text-align: center;
}

.header-list {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02;
  text-align: center;
}

.main-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03;
  line-height: 1.6;
}
.footerlogo-item1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03;
}

.hero-container {
  margin-bottom: 94px;
}

.about {
  margin-bottom: 94px;
}
.whatwedo-image {
  width: 400px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.team {
  margin-top: 94px;
  margin-bottom: 50px;
}

.team-item {
  width: 300px;
}

.footer-item {
  margin-bottom: 94px;
}
