.title{
    color: cornflowerblue;
}
.nav-item{
    color: cornflowerblue;
}
.nav-item1{
    color: black;
}
.nav-item2{
    color: black;
}
.address-item1{
    color: black;
}
.address-item{
    color: cornflowerblue;
}
.section-item{
    background-color: darkslategray;
}
.button-item1{
    background-color: dodgerblue;
}
.section-item2{
    background-color: rgb(183, 180, 180);
}
.footer-item{
    background-color: darkslategrey;
}
.logofooter-item{
    color: cornflowerblue;
}
.footeraddress-item1{
    color: aliceblue;
}
.footeraddress-item2{
    color: rgb(249, 237, 237);
}
.footeraddress-item3{
    color: rgb(172, 172, 172);
}
.footeraddress-item4{
    color: rgb(172, 172, 172);
}




.logo-item1{
    color: cornflowerblue;
}

.nav-item5{
    color: black;
}
.nav-item6{
    color: cornflowerblue;
}
.nav-item7{
    color: black;
}

.headeraddress-item1{
    color: cornflowerblue;
}
.headeraddress-item2{
    color: rgb(199, 197, 194);
}
.buttonmain-item1{
    background-color: cornflowerblue;
}

.buttonmain-item2{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item3{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item4{
    background-color: rgb(172, 172, 172);
}
.buttonmain-item5{
    background-color: rgb(172, 172, 172);
}
.footerbackground-item{
    background-color: darkslategrey;
}

.footerlogo-item1{
    color: cornflowerblue;
}

.footeraddrses-item5{
    color: aliceblue;
}
.footeraddrses-item6{
    color: rgb(172, 172, 172);
}
.footeraddress-item7{
    color: rgb(172, 172, 172);
}

.footeraddress-item8{
    color: rgb(172, 172, 172);
}